@font-face {
  font-family: ChiKareGo2;
  src: url('../fonts/ChiKareGo2.ttf') format('truetype');
}

#adminManageDiv {
  width: 70vw;
}

div.admin {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: auto 2rem;
  height: 85vh;
  color: white;
  background-color: var(--background-color);
  border-radius: var(--border-radius);
}

form.admin {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 4rem;
  height: 65vh;
}

form.admin input {
  background-color: var(--options-background-color);
  color: white;
  border: none;
  border-radius: var(--border-radius);
  padding: 0.1rem 0.2rem;
}

form.admin:first-child {
  border-top-left-radius: var(--border-radius);
  border-bottom-left-radius: var(--border-radius);
}

form.admin:last-child {
  border-top-right-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
}

h3.admin {
  margin-bottom: 2rem;
  font-size: 1.8rem;
  cursor: default;
}

input.admin,
button.admin {
  background-color: var(--options-background-color);
  color: white;
  border: none;
  border-radius: 3px;
  padding: 0.1rem 0.2rem;
  max-width: 15vw;
}

button.admin:hover {
  background-color: var(--options-hover-color-blue);
}

button.admin {
  margin-top: auto;
  padding: 0.22rem 0.7rem;
  border-radius: 0.5rem;
  cursor: pointer;
}

#firmPictureDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#firmPictureDiv .editDiv {
  flex-direction: row;
  justify-content: center;
  margin-top: auto;
}

#firmPicturePreviewDiv {
  height: 250px;
  width: 250px;
  margin-bottom: 1rem;
  overflow: hidden;
  border-radius: var(--border-radius);
  border: 2px solid var(--dark-yellow);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#firmPictureInputIcon:hover,
#firmPictureInputComfirm:hover {
  background-color: var(--options-hover-color-blue);
  transition: all 0.1s;
}

#firmPictureInputIcon,
#firmPictureInputComfirm {
  color: white;
  font-size: 40px;
  margin: 0 1.5rem;
  padding: 0.25rem 0.5rem;
  border-radius: var(--border-radius);
  cursor: pointer;
}
