@font-face {
  font-family: ChiKareGo2;
  src: url('../fonts/ChiKareGo2.ttf') format('truetype');
}

* {
  margin: 0;
  box-sizing: border-box;
  font-size: 1.1rem;
}

body {
  height: 100vh;
  font-family: ChiKareGo2;
}

h3 {
  font-size: 2rem;
}

input {
  margin: 1rem 0;
  padding: 0.1rem 0.2rem;
  border: none;
  border-radius: 5px;
  font-family: ChiKareGo2;
}

input:focus {
  outline: none;
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100%;
}

#pane {
  flex: 1;
  border-radius: 12px;
  min-width: 1350px;
  min-height: 700px;
}

#organizationNameInput {
  background-color: #cbba9e;
}

div.auth {
  display: flex;
  justify-content: center;
  margin: auto 2rem;
  border: 1px solid #6d665b;
  max-height: 68vh;
}

#signInIcon {
  font-size: 45px;
  margin-top: 0.5rem;
  border-radius: 10px;
  cursor: pointer;
}

#signInIcon:hover {
  transform: rotate(360deg);
  transition: all 1s ease;
}

form.auth {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 4rem;
  padding: 2rem 4rem;
  min-width: 27vw;
  max-height: 50vh;
  border: 1px solid black;
}

#signIn {
  position: relative;
  margin: 0;
  padding: 0;
  min-width: 31%;
  max-height: 100%;
  border: none;
}

h3.auth {
  margin-bottom: 2rem;
}

input.auth {
  background-color: #2b2a33;
  color: white;
  border: none;
}

button.auth {
  background-color: transparent;
  border: none;
}

div.signout {
  display: flex;
  align-items: center;
  padding-left: 5.7rem;
}

button.signout {
  padding: 0.5rem 1rem;
}

#landing {
  flex-grow: 1;
  border-right: 1px solid black;
  background-image: url(../images/landing.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  border-radius: 10px;
}

#systemMsg {
  position: absolute;
  top: 9%;
  color: rgb(229, 136, 152);
}

#systemMsg p {
  margin: 0.5rem;
}
