#chatUploadButtonWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.25rem 0 0 0.25rem;
  height: 2rem;
  width: 2rem;
  cursor: pointer;
}

#chatUploadButtonWrapper span {
  padding: 0.1rem;
  color: white;
  border-radius: var(--border-radius);
}

#chatUploadButtonWrapper span:hover {
  background-color: var(--options-hover-color);
}

#chatSendButtonWrapper {
  margin: 0 0.7rem;
  padding: 0.1rem;
  cursor: pointer;
  border-radius: var(--border-radius);
}

#chatSendButtonWrapper:hover {
  background-color: var(--options-hover-color);
}

#previewImageDiv {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: absolute;
  padding-left: 0.6rem;
  padding-right: 3rem;
  right: 2rem;
  top: 1.5rem;
  color: white;
  background-color: var(--background-color);
  border-radius: 10px;
  height: 13rem;
}

#previewImageDiv[data-file='false'] {
  visibility: hidden;
}

#chatUnloadFileButton {
  position: absolute;
  top: 1rem;
  right: -0.5rem;
  padding-right: 1.5rem;
  cursor: pointer;
}

span#searchTourButton {
  position: absolute;
  top: -2.5rem;
  right: 0;
  color: var(--background-color);
  cursor: pointer;
  font-size: 2rem;
  font-variation-settings: 'wght' 700, 'opsz' 26;
}

.chat-sender-picture {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  min-width: 3rem;
  min-height: 3rem;
  border: 1px solid black;
  border-radius: var(--border-radius);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.chat-message-files {
  display: flex;
}

.chat-message-image-preview,
.chat-message-file-preview,
.chat-upload-image-preview,
.chat-upload-file-preview {
  margin: 0.6rem 0.6rem 0.6rem 0;
}

.chat-message-file-preview {
  border: 1px solid black;
  border-radius: var(--border-radius);
}

.chat-upload-file-preview {
  border-radius: var(--border-radius);
}

.chat-message-file-preview,
.chat-upload-file-preview {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10rem;
  width: 14rem;
  padding: 1rem;
  text-align: center;
  overflow: hidden;
  background-color: var(--options-background-color);
}

.chat-message-image-preview,
.chat-upload-image-preview {
  max-height: 12rem;
  max-width: 12rem;
}

.chat-message-image-preview,
.chat-message-file-preview {
  cursor: pointer;
}

.chat-message-file-preview {
  display: inline-flex;
  color: white;
  padding: 1rem;
  overflow: hidden;
  border: none;
  background-color: var(--options-background-color);
}

.chat-message-time {
  display: flex;
  justify-content: flex-end;
  min-width: 9.5rem;
}
