@font-face {
  font-family: ChiKareGo2;
  src: url('../fonts/ChiKareGo2.ttf') format('truetype');
}

#manageDiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto 4rem;
  height: 85vh;
  min-width: 65vw;
  border: 1px solid #6d665b;
  border-radius: var(--border-radius);
}

#formDiv {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 45%;
  min-height: 100%;
  border-top-left-radius: var(--border-radius);
  border-bottom-left-radius: var(--border-radius);
}

#infoDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  min-height: 100%;
  background-color: var(--background-color);
  border-radius: var(--border-radius);

  color: white;
}

div.group-function {
  display: flex;
  justify-content: center;
  max-height: 68vh;
}

form.group-function {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 4rem;
  min-width: 27vw;
  max-height: 50vh;
}

#formDiv h3,
#infoDiv h3 {
  font-size: 1.5rem;
  margin: 2rem 0 1rem 0;
}

#infoDiv h3 {
  margin: 1.5rem 0;
}

#infoDiv h3:first-child {
  margin: 5rem 0 1.5rem 0;
}

input.group-function,
button.group-function {
  background-color: #2b2a33;
  color: white;
  border: none;
  border-radius: var(--border-radius);
  padding: 0.1rem 0.2rem;
  max-width: 15vw;
}

button.group-function {
  margin: 1rem;
  padding: 0.22rem 0.7rem;
  border-radius: 0.5rem;
  cursor: pointer;
}

button.group-function:hover {
  background-color: var(--options-hover-color-blue);
  transition: all 0.1s;
}

.group-status {
  width: 1rem;
  min-width: 1rem;
  background-color: rgb(247, 199, 139);
  border-top-left-radius: var(--sidebar-border-radius);
  border-bottom-left-radius: var(--sidebar-border-radius);
}

.group-name {
  display: flex;
  align-items: center;
}

#groupParticipantsSearchResultDiv,
#groupSelectedUserDiv {
  padding: 1rem;
  height: 35vh;
  max-height: 40vh;
  width: 70%;
  border-radius: var(--border-radius);
}

#groupParticipantsSearchResultDiv,
#groupSelectedUserDiv {
  overflow-y: auto;
  transition: height 0.3s ease;

  scrollbar-color: var(--options-background-color) var(--options-hover-color);
  scrollbar-width: thin;
  scrollbar-gutter: stable;
  direction: rtl;
}
#groupParticipantsSearchResultDiv::-webkit-scrollbar,
#groupSelectedUserDiv::-webkit-scrollbar {
  width: 0.8rem;
}

#groupParticipantsSearchResultDiv::-webkit-scrollbar-track,
#groupSelectedUserDiv::-webkit-scrollbar-track {
  background: var(--scrollbar-background-color);
}
#groupParticipantsSearchResultDiv::-webkit-scrollbar-thumb,
#groupSelectedUserDiv::-webkit-scrollbar-thumb {
  background-color: var(--background-color);
}

#groupParticipantsSearchResultDiv {
  margin-bottom: 0;
}

.group-participants-option,
.group-participants-selected {
  display: flex;
  justify-content: center;
  margin: 0 auto 1rem auto;
  width: 80%;
  border: 1px solid black;
  background-color: var(--options-background-color);
  border-radius: var(--border-radius);
}

.group-participants-option:hover,
.group-participants-selected:hover {
  background-color: var(--options-hover-color-blue);
}

.group-participants-option {
  cursor: pointer;
}

.group-participants-selected {
  cursor: not-allowed;
}

#groupParticipantsList {
  position: absolute;
  top: 30%;
  left: 45%;
  padding: 8rem;
  border: 1px solid black;
}

#groupParticipantsList div:first-child {
  cursor: pointer;
}
