#profileContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  margin: 0 2rem;
  padding: 2rem 4rem;
  border: 1px solid #6d665b;
  height: 70vh;
  border-radius: var(--border-radius);
}

#profileDiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto 4rem;
  height: 85vh;
  border: 1px solid #6d665b;
  border-radius: var(--border-radius);
}

#profilePictureDiv,
#profilePicturePreviewDiv {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  overflow: hidden;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

h3.profile {
  margin-bottom: 2rem;
}

input.profile {
  background-color: #2b2a33;
  color: white;
  border: 1px solid grey;
  border-radius: 3px;
  padding: 0.1rem 0.2rem;

  max-width: 15vw;
}

#changePasswordDiv,
#changeProfilePictureDiv {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  margin: 0 2rem;
  padding: 2rem 4rem;
  border: 1px solid #6d665b;
  height: 70vh;
  border-radius: var(--border-radius);
}

.editDiv {
  display: flex;
  flex-direction: column;
}

.editDiv button {
  margin-top: 2rem;
  padding: 0.5rem 1rem;
  cursor: pointer;

  background-color: #2b2a33;
  color: white;
  border: 1px solid grey;
  border-radius: var(--border-radius);

  max-width: 15vw;
}
