#sidebar {
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  width: 23%;
  min-width: 23%;
  max-height: 100%;
}

#sidebar .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 0;
  color: white;
  background: linear-gradient(rgb(255, 255, 255) 50%, transparent 0);
  background-clip: content-box;
  background-size: 6.6666666667% 9.3333333333%;
  cursor: pointer;
}

#sidebar .header div:first-child {
  width: 7rem;
}

#sidebar h3 {
  padding: 0 1rem;
  margin: 0 0 0 1rem;
  background-color: var(--background-color);
}

#navbar {
  display: flex;
  margin: 1rem 0 0.5rem 0;
  justify-content: flex-start;
  color: white;
}

#firmLogo {
  height: 60px;
  width: 60px;
  margin-left: 0.8rem;
  border-radius: var(--border-radius);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#all {
  background-color: var(--background-color);
}

.content {
  height: 0;
}

.contact,
.group {
  display: flex;
  margin: 0.7rem 1rem;
  height: 3rem;
  position: relative;
  border-radius: var(--border-radius);
  cursor: pointer;
  color: white;
  background-color: var(--options-background-color);
  direction: ltr;
}

.contact:hover,
.group:hover {
  background-color: #1f4560;
  transition: all 0.1s;
}

.contact.on,
.group.on {
  background-color: #1f4560;
}

.contact-picture,
.group-picture {
  margin: 0.3rem 1rem 0.3rem 0.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.4rem;
  min-width: 2.4rem;
  border-radius: var(--border-radius);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.group-picture {
  background-image: url(/images/group_pfp.jpg);
}

.contact-info,
.contact-add-star-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contact-unread-count,
.group-unread-count {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 3px;
  left: 3.2rem;
  color: white;
  height: 23px;
  width: 23px;
  border-radius: 50%;
  font-size: 0.9rem;
}

.contact-unread-count.on,
.group-unread-count.on {
  background-color: #b63f3f;
}

.group-name,
.contact-info {
  flex-grow: 1;
  font-size: 1.1rem;
  max-width: 60%;
}

span.group-delete-button,
span.contact-add-star-button,
span.contact-delete-star-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0 0.3rem;
  min-width: 13%;
  border-top-right-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
}

.group-delete-button:hover,
.contact-add-star-button:hover,
.contact-delete-star-button:hover {
  color: rgb(226, 162, 43);
  font-variation-settings: 'FILL' 1, 'wght' 700, 'opsz' 26;
  transition: 0.8s;
}

.contact-status {
  width: 1rem;
  min-width: 1rem;
  background-color: grey;
}

.contact-status.on {
  background-color: rgb(68, 164, 114);
  transition: all 1s;
}

.collapse-symbol {
  display: flex;
  justify-content: center;
  width: 1rem;
  height: 1rem;
  margin: 0 0.6rem;
  border: 0.3px solid #000;
  background-color: #fff;
  background-repeat: no-repeat;
  background-size: 60% 5px, 5px 60%;
  cursor: pointer;
}

.content {
  overflow-y: auto;
  transition: height 0.4s ease;

  scrollbar-color: var(--options-background-color) var(--options-hover-color);
  scrollbar-width: thin;
  scrollbar-gutter: stable;
  direction: rtl;
}
.content::-webkit-scrollbar {
  width: 0.8rem;
}

.content::-webkit-scrollbar-track {
  background: var(--scrollbar-background-color);
}
.content::-webkit-scrollbar-thumb {
  background-color: var(--background-color);
}

.footer-options {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: auto 1rem 1.3rem 1rem;
  padding: 0.2rem 1rem;
  border-radius: var(--border-radius);
  background-color: var(--options-background-color);
  color: white;
  cursor: pointer;
}

.footer-options span {
  border-radius: var(--border-radius);
  padding: 0.1rem 1rem;
  font-size: 1.8rem;
}
.footer-options span:hover {
  background-color: rgb(126, 126, 138);
}

.footer-options span.on {
  background-color: rgb(126, 126, 138);
}

/* toggle symbol animation */

.collapse-symbol {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  right: 5px;
}

.collapse-symbol span {
  display: block;
  position: absolute;
  width: 12px;
  height: 2px;
  background-color: #000;
  transition: transform 0.3s ease;
}

.collapse-symbol span:last-child {
  top: 9.5px;
  transform: rotate(90deg) translateX(-2px);
}

.collapse-symbol.active span:first-child {
  transform: rotate(180deg);
}

.collapse-symbol.active span:last-child {
  transform: rotate(0) translateY(-2px);
}

#signOut {
  color: white;
}

#optionDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;

  margin: 4rem 2rem;
  padding: 2rem 4rem;
  border: 1px solid #6d665b;
  height: 70vh;

  justify-content: space-evenly;
}

#optionDiv button {
  padding: 0.5rem 1rem;
}
